/* @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap'); */

html,
body, #root, #root > div {
  width: 100%;
  height: 100%;
  /* font-family: 'Electrolize', sans-serif; */
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='850' preserveAspectRatio='none' viewBox='0 0 1440 850'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2491%26quot%3b)' fill='none'%3e%3crect width='1440' height='850' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2492%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1054.074%2c200.169C1087.431%2c199.541%2c1112.343%2c173.881%2c1129.708%2c145.394C1148.043%2c115.316%2c1163.61%2c79.153%2c1146.672%2c48.266C1129.29%2c16.569%2c1090.21%2c8.492%2c1054.074%2c7.472C1015.487%2c6.382%2c971.148%2c9.276%2c951.954%2c42.768C932.819%2c76.156%2c952.399%2c116.053%2c973.344%2c148.337C991.999%2c177.091%2c1019.805%2c200.814%2c1054.074%2c200.169' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1376.709%2c564.271C1425.917%2c562.969%2c1478.595%2c556.451%2c1505.456%2c515.201C1534.441%2c470.689%2c1531.049%2c413.08%2c1505.479%2c366.523C1478.872%2c318.079%2c1431.976%2c281.376%2c1376.709%2c280.784C1320.523%2c280.183%2c1271.416%2c315.197%2c1243.074%2c363.714C1214.457%2c412.702%2c1204.14%2c475.126%2c1235.599%2c522.339C1264.762%2c566.106%2c1324.134%2c565.662%2c1376.709%2c564.271' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M158.771%2c779.705C191.634%2c780.016%2c216.586%2c753.508%2c232.572%2c724.794C248.042%2c697.006%2c254.2%2c663.808%2c238.781%2c635.991C222.937%2c607.407%2c191.449%2c591.204%2c158.771%2c591.651C126.853%2c592.087%2c97.672%2c610.064%2c82.461%2c638.128C67.917%2c664.962%2c72.867%2c696.553%2c87.349%2c723.421C102.763%2c752.019%2c126.284%2c779.398%2c158.771%2c779.705' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M590.487%2c422.877C632.793%2c422.489%2c674.919%2c407.313%2c697.07%2c371.267C720.219%2c333.596%2c720.048%2c285.983%2c698.251%2c247.514C676.145%2c208.498%2c635.328%2c183.56%2c590.487%2c183.159C544.948%2c182.752%2c502.144%2c206.14%2c479.331%2c245.555C456.476%2c285.043%2c456.227%2c334.598%2c480.46%2c373.256C503.364%2c409.793%2c547.367%2c423.273%2c590.487%2c422.877' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M255.404%2c539.117C314.111%2c540.568%2c372.613%2c512.241%2c399.504%2c460.035C424.69%2c411.14%2c402.292%2c355.541%2c374.375%2c308.151C347.022%2c261.718%2c309.295%2c215.327%2c255.404%2c215.42C201.622%2c215.513%2c163.284%2c261.56%2c137.14%2c308.56C111.902%2c353.931%2c99.439%2c407.01%2c123.135%2c453.205C148.853%2c503.342%2c199.073%2c537.725%2c255.404%2c539.117' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1257.349%2c676.755C1332.296%2c676.066%2c1403.754%2c638.715%2c1439.63%2c572.909C1474.159%2c509.574%2c1460.413%2c433.721%2c1423.7%2c371.626C1387.734%2c310.794%2c1327.91%2c268.505%2c1257.349%2c264.603C1179.071%2c260.274%2c1096.27%2c284.161%2c1055.752%2c351.277C1014.127%2c420.227%2c1026.763%2c507.843%2c1069.172%2c576.313C1109.3%2c641.099%2c1181.145%2c677.455%2c1257.349%2c676.755' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1105.661%2c537.029C1171.125%2c534.494%2c1229.111%2c496.933%2c1261.117%2c439.77C1292.375%2c383.943%2c1290.365%2c317.211%2c1260.39%2c260.685C1228.215%2c200.011%2c1174.327%2c147.853%2c1105.661%2c146.62C1035.254%2c145.356%2c976.372%2c194.062%2c940.998%2c254.95C905.433%2c316.166%2c892.158%2c391.536%2c927.849%2c452.678C963.296%2c513.401%2c1035.402%2c539.75%2c1105.661%2c537.029' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1403.966%2c1030.549C1472.955%2c1034.5%2c1547.112%2c1018.85%2c1584.296%2c960.606C1623.855%2c898.643%2c1616.879%2c818.454%2c1579.957%2c754.884C1543.207%2c691.611%2c1477.097%2c647.702%2c1403.966%2c650.126C1334.342%2c652.433%2c1278.566%2c703.773%2c1247.082%2c765.915C1218.642%2c822.049%2c1224.095%2c887.684%2c1256.185%2c941.814C1287.59%2c994.789%2c1342.483%2c1027.028%2c1403.966%2c1030.549' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M259.088%2c495.01C307.204%2c493.824%2c351.29%2c469.931%2c376.481%2c428.919C402.976%2c385.784%2c411.638%2c331.52%2c386.501%2c287.58C361.216%2c243.381%2c309.908%2c220.526%2c259.088%2c223.708C213.109%2c226.587%2c180.462%2c262.563%2c156.607%2c301.975C131.56%2c343.356%2c108.538%2c392.242%2c131.22%2c434.966C154.885%2c479.543%2c208.634%2c496.254%2c259.088%2c495.01' fill='rgba(189%2c 190%2c 191%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2491'%3e%3crect width='1440' height='850' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2492'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 231%2c 127%2c 0.61)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

table {
  border: none;
  outline: none;
}

table, tr, td, th {
  background-color: transparent !important
}

td, th {
  border: none !important;
  outline: none !important;
}

th {
  text-align: right !important;
}

button {
  z-index: 10;
}

.form-label {
  float: left;
  margin-left: 40% !important;
}
/*
.create-link-input>input {
  outline: none;
  border-width: 0 0 2px;
  border-color: white;
  background: transparent;
}

.create-link-input>input:focus {
  border-color: lightblue;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
} */

input {
  outline: none !important;
  border-width: 0 0 2px !important;
  border-color: white !important;
  background: transparent !important;
}

input:focus {
  border-color: lightblue !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#footer {
  position: fixed;
  /* relative */
  bottom: 0%;
  right: 1%;
  padding: 1%;
  text-align: right;
  font-size: 0.9rem;
  background-image: none;
}

.custom-back-half-button {
  margin-left: -30px !important;
}
